.photowall {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background: #000;
  height: 32rem;
  width: 100%;
  margin: 0;
  padding: 0;
}

.photowall * {
  box-sizing: border-box;
}

.photowall a {
  flex: 1 1 auto;
  display: block;
  border: solid 1px #000;
}

.photowall img {
  height: 128px;
  width: 100%;
  object-fit: cover;
  vertical-align: top;
}

.photowall:after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  height: 32px;
  left: 0;
  right: 0;
  z-index: 5;
}
