.photowall {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background: black;
  border: solid 1px black;
  max-width: 32rem;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.photowall * {
  box-sizing: border-box;
}

.photowall a {
  flex: 1 1 auto;
  display: block;
  border: solid 1px black;
}

.photowall img {
  height: 128px;
  width: 100%;
  object-fit: cover;
  vertical-align: top;
}
