/*
Constants
*/
/*
Hides text in the margin
*/
/*
Turns a button into an icon
*/
/*
Centres a graphic or glyph inside an icon
*/
/*
Offers both the pixel and rem value of a single property
*/
/*
Offers both the pixel and rem values of a shorthand property
*/
/*
Offers the text size as both the pixel and rem value
*/
/*
Adds vendor prefixed to a property
*/
/*
Applies the "clearfix" hack to a container with floating content
*/
/*
	example container style
*/
/* line 4, ../../src/scss/_photozoom.scss */
#photozoom {
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 8, ../../src/scss/_photozoom.scss */
#photozoom * {
  box-sizing: border-box;
  -ms-interpolation-mode: bicubic;
}
/* line 12, ../../src/scss/_photozoom.scss */
#photozoom li {
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 16, ../../src/scss/_photozoom.scss */
#photozoom li img {
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 3.96px;
  margin-bottom: 0.33rem;
  margin-left: 0px;
  margin-left: 0rem;
  display: inline-block;
  height: 96px;
  width: auto;
  vertical-align: top;
}

/*
	component styles
*/
/* line 28, ../../src/scss/_photozoom.scss */
.photozoom-popup {
  transition: opacity 500ms ease;
  -webkit-transition: -webkit-opacity ease 500ms;
  background: rgba(0, 0, 0, 0.9);
  background: #000 \9;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  z-index: 20000;
}
/* line 43, ../../src/scss/_photozoom.scss */
.photozoom-popup.photozoom-busy-fixed {
  position: fixed;
}
/* line 46, ../../src/scss/_photozoom.scss */
.photozoom-popup * {
  box-sizing: border-box;
  -ms-interpolation-mode: bicubic;
}
/* line 50, ../../src/scss/_photozoom.scss */
.photozoom-popup .photozoom-caption {
  display: none;
}
/* line 53, ../../src/scss/_photozoom.scss */
.photozoom-popup .photozoom-image {
  z-index: 1;
}
/* line 56, ../../src/scss/_photozoom.scss */
.photozoom-popup .photozoom-closer {
  overflow: hidden;
  position: relative;
  text-align: left;
  text-indent: 58px;
  white-space: nowrap;
  /* Because of Internet Explorer 8 we can't have nice thing. */
  overflow: visible;
  text-indent: -999em;
  width: 36px;
  width: 3rem;
  height: 36px;
  height: 3rem;
  right: 12px;
  right: 1rem;
  top: 12px;
  top: 1rem;
  background: #ff6a00;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  text-align: center;
  text-decoration: none;
  z-index: 2;
}
/* line 70, ../../src/scss/_photozoom.scss */
.photozoom-popup .photozoom-closer:before {
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  width: 24px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  background-image: url(../img/photozoom.png);
}
/* line 74, ../../src/scss/_photozoom.scss */
.photozoom-popup .photozoom-closer:hover {
  background: #ff9800;
}
/* line 78, ../../src/scss/_photozoom.scss */
.photozoom-popup .photozoom-locator {
  display: none;
}

/* line 82, ../../src/scss/_photozoom.scss */
.photozoom-popup-passive {
  opacity: 0;
  -webkit-opacity: 0;
  visibility: hidden\9;
}

/* line 87, ../../src/scss/_photozoom.scss */
.photozoom-popup-active {
  opacity: 1;
  -webkit-opacity: 1;
  visibility: visible\9;
}

/*
	busy spinner
*/
/* line 95, ../../src/scss/_photozoom.scss */
.photozoom-busy {
  border-radius: 5px;
  opacity: 0.8;
  -webkit-opacity: 0.8;
  background: #000 url(../img/busy_8.gif) no-repeat 50% 50%;
  height: 48px;
  left: 50%;
  margin: -24px;
  position: absolute;
  top: 50%;
  width: 48px;
  z-index: 20;
}
/* line 107, ../../src/scss/_photozoom.scss */
.photozoom-busy.photozoom-busy-fixed {
  position: fixed;
}

/* line 111, ../../src/scss/_photozoom.scss */
.photozoom-busy-passive {
  visibility: hidden;
}

/* line 114, ../../src/scss/_photozoom.scss */
.photozoom-busy-active {
  visibility: visible;
}

/*
	component styles
*/
/* line 4, ../../src/scss/_photowall.scss */
.photowall {
  margin: 0;
  padding: 0;
  position: relative;
  height: 320px
  /*
  	preload state
  */
  /*
  	photowall bricks
  */
  /*
  	photowall popup
  */
  /*
  	busy spinner
  */
}
/* line 9, ../../src/scss/_photowall.scss */
.photowall * {
  box-sizing: border-box;
  -ms-interpolation-mode: bicubic;
}
/* line 16, ../../src/scss/_photowall.scss */
.photowall.photowall-passive {
  visibility: hidden;
}
/* line 19, ../../src/scss/_photowall.scss */
.photowall.photowall-active {
  visibility: visible;
}
/* line 25, ../../src/scss/_photowall.scss */
.photowall .photowall-bricks {
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}
/* line 31, ../../src/scss/_photowall.scss */
.photowall .photowall-bricks ul {
  display: block;
  margin: 0;
  padding: 0;
  width: 102%;
}
/* line 36, ../../src/scss/_photowall.scss */
.photowall .photowall-bricks ul li {
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 40, ../../src/scss/_photowall.scss */
.photowall .photowall-bricks ul li img {
  display: inline-block;
  height: 128px;
  width: auto;
  border: solid 1px #fff;
  margin: 0 -2px -3px 0;
  vertical-align: top;
}
/* line 54, ../../src/scss/_photowall.scss */
.photowall .photowall-detail {
  transition: opacity 500ms ease;
  -webkit-transition: -webkit-opacity ease 500ms;
  background: rgba(0, 0, 0, 0.9);
  background: #000 \9;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  z-index: 20000;
}
/* line 67, ../../src/scss/_photowall.scss */
.photowall .photowall-detail .photowall-image {
  z-index: 1;
}
/* line 70, ../../src/scss/_photowall.scss */
.photowall .photowall-detail .photowall-closer,
.photowall .photowall-detail .photowall-locator {
  overflow: hidden;
  position: relative;
  text-align: left;
  text-indent: 58px;
  white-space: nowrap;
  /* Because of Internet Explorer 8 we can't have nice thing. */
  overflow: visible;
  text-indent: -999em;
  width: 36px;
  width: 3rem;
  height: 36px;
  height: 3rem;
  right: 12px;
  right: 1rem;
  top: 12px;
  top: 1rem;
  background: #ff6a00;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  text-align: center;
  text-decoration: none;
  z-index: 2;
}
/* line 85, ../../src/scss/_photowall.scss */
.photowall .photowall-detail .photowall-closer:before,
.photowall .photowall-detail .photowall-locator:before {
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  width: 24px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  background-image: url(../img/photowall.png);
}
/* line 89, ../../src/scss/_photowall.scss */
.photowall .photowall-detail .photowall-closer:hover,
.photowall .photowall-detail .photowall-locator:hover {
  background: #ff9800;
}
/* line 93, ../../src/scss/_photowall.scss */
.photowall .photowall-detail .photowall-locator {
  visibility: hidden;
  right: 60px;
  right: 5rem;
}
/* line 96, ../../src/scss/_photowall.scss */
.photowall .photowall-detail .photowall-locator:before {
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  width: 24px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  background-image: url(../img/marker-photo.png);
  background-size: 24px 24px;
}
/* line 105, ../../src/scss/_photowall.scss */
.photowall .photowall-detail-maximise {
  position: fixed;
}
/* line 108, ../../src/scss/_photowall.scss */
.photowall .photowall-detail-passive {
  opacity: 0;
  -webkit-opacity: 0;
  visibility: hidden\9;
}
/* line 113, ../../src/scss/_photowall.scss */
.photowall .photowall-detail-active {
  opacity: 1;
  -webkit-opacity: 1;
  visibility: visible\9;
}
/* line 121, ../../src/scss/_photowall.scss */
.photowall .photowall-busy {
  border-radius: 5px;
  opacity: 0.8;
  -webkit-opacity: 0.8;
  background: #000 url(../img/busy_8.gif) no-repeat 50% 50%;
  height: 48px;
  left: 50%;
  margin: -24px;
  position: absolute;
  top: 50%;
  width: 48px;
  z-index: 20;
}
/* line 134, ../../src/scss/_photowall.scss */
.photowall .photowall-busy-passive {
  visibility: hidden;
}
/* line 137, ../../src/scss/_photowall.scss */
.photowall .photowall-busy-active {
  visibility: visible;
}
